<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcsma.ifhtt" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.pcsma.ifhtt.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.snmp.locationservice.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="com.pcsma.ifhtt.provider.permission.READ_PROVIDER" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name=".HomeActivity" -->
        <!-- android:label="@string/title_activity_home" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <receiver
            android:name=".locationService.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.snmp.locationservice" />
            </intent-filter>
        </receiver>

        <service android:name=".locationService.GcmIntentService" />

        <provider
            android:name=".locationService.LocationContentProvider"
            android:authorities="com.pcsma.ifhtt.locationService.LocationContentProvider"
            android:exported="true" >
        </provider>

        <activity
            android:name=".locationService.ListViewActivity"
            android:label="History" >
            <intent-filter>
                <action android:name=".ListViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainApp.HomeActivity"
            android:label="@string/title_activity_home" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".mainApp.RecipeActivity"
            android:label="@string/title_activity_recipe" >
        </activity>
    </application>

</manifest>
